export default {
  zh: {
    ${table.moduleName}:{
        ${table.classname}: {
            title: '${table.tableComment}信息一览',
            tips: '新增/编辑/详细',
#foreach($column in $columns)
            ${column.attrname}: '$column.columnComment'#if($velocityCount != $columns.size()),#end

#end
        }
    }

  },
  en: {
      ${table.moduleName}:{
          ${table.classname}: {
            title: '${table.className} information list',
            tips: 'New/Update/Detail',
            #foreach($column in $columns)
    ${column.attrname}: '$column.attrname'#if($velocityCount != $columns.size()),#end

            #end
          }
      }

  }
}
